<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Agregar"
                            icon="pi pi-pencil"
                            class="p-button-warning"
                            (click)="agregarEmpresa()"
                        ></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button
                        pButton
                        pRipple
                        label="Actualizar"
                        icon="pi pi-sync"
                        class="p-button-help"
                        (click)="actualizarTabla()"
                        [loading]="loading"
                    ></button>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="diccionarios"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['coderror']"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowHover]="true"
                dataKey="id"
                [loading]="loading"
                styleClass="p-datatable-striped"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Diccionario</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Buscar..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 15%" pSortableColumn="coderror">
                            Cod. Error
                            <p-sortIcon field="coderror"></p-sortIcon>
                        </th>
                        <th style="width: 20%">Descripcion</th>
                        <th style="width: 40%">Detalle</th>
                        <th style="width: 10%">Operaciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-diccionario>
                    <tr>
                        <td>
                            {{ diccionario.coderror }}
                        </td>
                        <td>
                            {{ diccionario.descripcion }}
                        </td>
                        <td><div [innerHTML]="diccionario.detalle"></div></td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-eye"
                                    class="p-button-rounded p-button-info mr-2"
                                    (click)="verDiccionario(diccionario)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-warning mr-2"
                                    (click)="editarEmpresa(diccionario)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger mr-2"
                                    (click)="eliminarEmpresa(diccionario)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td
                            style="text-align: center; padding: 1rem 0"
                            colspan="5"
                        >
                            No se encontraron empresas para mostrar
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="verDiccionarioDialog"
            [style]="{ width: '750px' }"
            [header]="labelDialog"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-2">
                        <label for="ruc">Cod. Error:</label>
                        <input
                            type="text"
                            pInputText
                            [value]="v_diccionario.coderror"
                            disabled
                        />
                    </div>
                    <div class="field col-12 md:col-10">
                        <label for="quantity">Descripción:</label>
                        <input
                            type="text"
                            pInputText
                            [value]="v_diccionario.descripcion"
                            disabled
                        />
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col-12">
                        <label for="quantity">Detalle:</label>
                        <p-editor
                            [(ngModel)]="v_diccionario.detalle"
                            [quillModules]="editorConfig"
                            [style]="{ height: '160px' }"
                            [readonly]="true"
                        />
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialogVer()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Listo"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="hideDialogVer()"
                ></button>
            </ng-template>
        </p-dialog>

        <!--<p-dialog
            [(visible)]="empresaEditDialog"
            [style]="{ width: '550px' }"
            [header]="labelDialog"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label for="ruc">RUC (*):</label>
                        <input
                            type="text"
                            pInputText
                            [(ngModel)]="empresaRequest.ruc"
                        />
                    </div>
                    <div class="field col-12 md:col-8">
                        <label for="quantity">Razón Social:</label>
                        <input
                            type="text"
                            pInputText
                            [(ngModel)]="empresaRequest.razonsocial"
                        />
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label for="ruc">Partner (*):</label>
                        <p-dropdown
                            [options]="selectedPartners"
                            [(ngModel)]="empresaRequest.partner"
                            optionLabel="name"
                            optionValue="name"
                            placeholder="Seleccione el partner"
                            appendTo="body"
                        ></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="quantity">Estado (*):</label>
                        <p-dropdown
                            [options]="estadosEmpresa"
                            [(ngModel)]="empresaRequest.estado"
                            optionLabel="name"
                            optionValue="code"
                            placeholder="Seleccione el estado"
                            appendTo="body"
                        />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="quantity">Modalidad (*):</label>
                        <input
                            type="text"
                            pInputText
                            [(ngModel)]="empresaRequest.modalidad"
                        />
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label for="modlocal">Mod. Local (*):</label>
                        <p-dropdown
                            [options]="modificarLocal"
                            [(ngModel)]="empresaRequest.modlocal"
                            optionLabel="name"
                            optionValue="code"
                            placeholder="¿Se modificará el local?"
                            appendTo="body"
                        ></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="quantity">Forma de envío:</label>
                        <input
                            type="text"
                            pInputText
                            [(ngModel)]="empresaRequest.formaenvio"
                        />
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialogEditar()"
                ></button>
                <button
                    pButton
                    pRipple
                    [label]="estadoSubmit"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="submitEditarEmpresa(empresaRequest, operacion)"
                    [loading]="loading"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="filtrosDialog"
            header="Filtros Generales"
            [modal]="true"
            [style]="{ width: '600px' }"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label for="ruc">RUC:</label>
                        <input
                            name="ruc"
                            type="text"
                            pInputText
                            [(ngModel)]="filtros.ruc"
                        />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="razonsocial">Razón Social:</label>
                        <input
                            name="razonsocial"
                            type="text"
                            pInputText
                            [(ngModel)]="filtros.razonsocial"
                        />
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label for="codErrors">Partner:</label>
                        <p-dropdown
                            [options]="selectedPartners"
                            [(ngModel)]="filtros.partner"
                            optionLabel="name"
                            placeholder="Seleccione el partner"
                            appendTo="body"
                        />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="codErrors">Estado:</label>
                        <p-dropdown
                            [options]="estadosEmpresa"
                            [(ngModel)]="filtros.estado"
                            optionLabel="name"
                            placeholder="Seleccione el partner"
                            appendTo="body"
                        />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="codErrors">Mod. Local:</label>
                        <p-dropdown
                            [options]="modificarLocal"
                            [(ngModel)]="filtros.modlocal"
                            optionLabel="name"
                            placeholder="Seleccione el partner"
                            appendTo="body"
                        />
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancelar"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialogFiltros()"
                ></button>
                <button
                    pButton
                    label="Limpiar"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="limpiarFiltros()"
                ></button>
                <button
                    pButton
                    pRipple
                    [(label)]="estadoSubmit"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="aplicarFiltros()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="empresaDeleteDialog"
            header="Eliminar empresa - {{ empresa.ruc }}"
            [modal]="true"
            [style]="{ width: '600px' }"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-6">
                        <p>¿Estás seguro de eliminar la empresa?</p>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancelar"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialogEliminar()"
                ></button>
                <button
                    pButton
                    pRipple
                    [(label)]="estadoSubmit"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="eliminarEmpresaSubmit(empresa.id)"
                ></button>
            </ng-template>
        </p-dialog> -->
    </div>
</div>
